
.contenedor_colores{
  padding:20px;
  text-align: center;
  justify-self: end;
  margin-right: auto;
  height: 190px;
  margin-top: 1.5%;
}

.titulo_colores{
  font-size: 25px;
  font-weight: bold;
}

.div_color{
  display: flex;
}

.color_urgencia{
  font-size: 20px;
  padding: 3px 10px;
  margin-right: 5px;
  color: var(--Color-Negro);
  width: 90px;
  text-align: center;
}

.texto{
  font-size: 25px;
}

.amarillo{
  background: var(--Fondo-Amarillo);
}

.naranja{
  background: var(--Fondo-Naranja);
}

.rojo{
  background: var(--Fondo-Rojo);
}

  /* Estilos 1200-661px */

@media (max-width: 1200px) {

  .contenedor_colores{
    margin-right: 0;
    height: 190px;
    margin-top:0;
    order: 1;
  }
}

  /* Estilos 660-0px */

@media (max-width: 450px) {
  .contenedor_colores{
    padding: 2vh 2vw;
    margin-right: 0;
    height: auto;
    margin-top:0;
    order: 1;
    width: 100%;
  }

  .titulo_colores{
    font-size: 7vw;
  }

  .div_color{
    align-items: center;
    gap: 2%;
  }

  .color_urgencia{
    font-size: 4.5vw;
    padding: 0.5vh 2vw;
    margin-right: 0px;
  }

  .texto{
    font-size: 6vw;
  }
}

@media (max-width: 350px) {

  .titulo_colores{
    font-size: 8vw;
  }

  .color_urgencia{
    font-size: 6vw;
  }

  .texto{
    font-size: 7vw;
  }
}

@media (max-width: 200px) {

  .titulo_colores{
    font-size: 9vw;
  }

  .color_urgencia{
    font-size: 8vw;
  }

  .texto{
    font-size: 8vw;
  }
}