:root {
    --Color-Gris: #000000;
    --Color-Blanco: #f0f0f0;
    --Color-Negro: #000000;
    --Input-Focus-Claro: #8f8e8e;
    --Input-Focus-Oscuro: #004080;
    --Fondo-Amarillo: #ffcc00;
    --Fondo-Amarrillo-2: #ffcc00;
    --Fondo-Naranja: #ff5e00;
    --Fondo-Rojo: #ff4d4d;
    --Fondo-Oscuro: #333333;
    --Fondo-Claro: #d9d9d9;
    --Fondo-Oscuro-2: #1a1a1a;
    --Fondo-Claro-2: #e6e6e6;
    --Fondo-Boton-Modo-Oscuro: #0066cc;
    --Fondo-Boton-Modo-Claro: #101024a9;
    --Fondo-Gris-Emoji: #c2bebe;
}

.App {
    padding: 2% 0;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    transition: background 0.3s ease;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
}

.container_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Estilos de cambio de colores */

.hidden {
    display: none !important;
}

.modo_claro {
    background: var(--Fondo-Claro);
    transition: background 0.3s ease;
}

.modo_oscuro {
    background: var(--Fondo-Oscuro);
    transition: background 0.3s ease;
}

.modo_claro_2 {
    background-color: var(--Fondo-Claro-2);
    transition: background 0.3s ease;
    -webkit-box-shadow: 0px 0px 25px -2px rgba(184, 173, 184, 1);
    -moz-box-shadow: 0px 0px 25px -2px rgba(184, 173, 184, 1);
    box-shadow: 0px 0px 25px -2px rgba(184, 173, 184, 1);
}

.modo_oscuro_2 {
    background: var(--Fondo-Oscuro-2);
    transition: background 0.3s ease;
    -webkit-box-shadow: 0px 0px 25px -2px rgba(99, 99, 99, 1);
    -moz-box-shadow: 0px 0px 25px -2px rgba(99, 99, 99, 1);
    box-shadow: 0px 0px 25px -2px rgba(99, 99, 99, 1);
}

.modo_oscuro_2_items {
    background: var(--Fondo-Oscuro-2);
    transition: background 0.5s ease;
}

.modo_claro_2_items {
    background-color: var(--Fondo-Claro-2);
    transition: background 0.5s ease;
}

.texto_gris {
    color: var(--Color-Gris);
    transition: background 0.5s ease;
}

.texto_blanco {
    color: var(--Color-Blanco);
    transition: background 0.5s ease;
}

.modo_oscuro_toggle {
    background-color: var(--Color-Gris);
    transition: background 0.5s ease;
}

.modo_claro_toggle {
    background-color: var(--Color-Blanco);
    transition: background 0.5s ease;
}

.input_oscuro {
    color: var(--Color-Blanco);
}

.input_claro {
    color: var(--Color-Gris);
}

.input_focus_oscuro:focus {
    border-color: var(--Input-Focus-Oscuro);
    outline: none;
}

.input_focus_claro:focus {
    border-color: var(--Input-Focus-Claro);
    outline: none;
}

.modo_oscuro_boton {
    background: var(--Fondo-Boton-Modo-Oscuro);
    color: var(--Color-Blanco);
    transition: background 0.5s ease;
}

.modo_claro_boton {
    background: var(--Fondo-Boton-Modo-Claro);
    transition: background 0.5s ease;
    color: var(--Color-Blanco);
}

@media (max-width: 1000px) {
    .hover_claro:hover {
        background: var(--Fondo-Claro);
    }

    .hover_oscuro {
        background: var(--Fondo-Oscuro);
    }
}

/* Estilos del nav */

.input_cambio_nombre {
    height: 5.5vh;
    margin: 5px 0;
    background: transparent;
    border: 1px solid var(--Color-Blanco);
    color: var(--Color-Blanco) ff;
}

.h1_cambio_nombre {
    display: inline;
}

.input_nombre {
    height: 4vh;
    background: transparent;
    border: 1px solid var(--Color-Gris);
}

.tareas-lista-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin-top: 5%;
    width: 80vw;
}

@media (max-width: 1200px) {
    .tareas-lista-contenedor {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 5%;
        width: 80vw;
    }
}

@media (max-width: 1000px) {
    .input_nombre {
        width: 60%;
    }
}

@media (max-width: 800px) {
    .input_nombre {
        width: 50%;
    }
}

@media (max-width: 550px) {
    .input_nombre {
        width: 40%;
    }

    .tareas-lista-contenedor {
        width: 95%;
    }
}
